header, footer {
  height: 10vh;
  width: 100%;
}

main {
  height: 80vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(33,37,41);
}